body,html{
    height: 100%;
    margin: 0px;
    padding: 10px;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #2C2F33, #293753, #355754);
    background: linear-gradient(to right, #2C2F33, #293753, #355754);
    font-family: Arial, Helvetica, sans-serif;
    color: #ec5c4c4;
}

a {
    color: #b4b0c7
}

.button {
  background-color: #FFFFFF; /* Green */
  border: none;
  border-radius: 8px;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #2C2F33; /* Green */
  color: white;
}

input[type="text"],
input[type="password"],
input[type="email"], 
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color: #a0c8ff;}

li{
    background-color: rgba(0,0,0,0.3);
}

li:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.container{
    align-content: center;}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}